@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

a{
    color: inherit !important; 
    text-decoration: none !important;
}

*{
    box-sizing: border-box;
}

.videos::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(237,237,237);
    border-radius: 40px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
